@{
    ViewData["Title"] = "Uitgelockt";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Deze account is uitgelockt, probeer het later opnieuw.</p>
</header>
